
$white-background-lighter-1:#f8f8f8;
$white-background-standard:#D6D8E0;
$white-full-lighter:#ffffff;


$gray-lighter-3:#E0E0E0;
$gray-lighter-2:#DDDDDD;
$gray-lighter-1:#9E9E9E;
$gray-standard:#949494;
$gray-dark-1:#989898;
$gray-dark-2:#4F4F4F;

$black-lighter-1:#333333;
$black-full-dark:#000000;

$brand-orange-lighter-1:#FFF3E0;
$brand-orange-standard:#F2994A;
$brand-orange-dark-1:#E0812C;
$brand-orange-dark-2:#EF9F2E;

$brand-blue-standard:#2F80ED;

$social-linkedin-blue-standard:#2E92EF;

$social-instagram-pink:#EF2EA2;
$social-instagram-orange:#E0A22B;

$social-instagram-gradient:linear-gradient(187.5deg, $social-instagram-pink 5.81%, $social-instagram-orange 109.34%);

$map-colors-solid:(

  'white-background-lighter-1':$white-background-lighter-1,
  'white-background-standard':$white-background-standard,
  'white-full-lighter':$white-full-lighter,

  'gray-lighter-3':$gray-lighter-3,
  'gray-lighter-2':$gray-lighter-2,
  'gray-lighter-1':$gray-lighter-1,
  'gray-standard':$gray-standard,

  'gray-dark-1':$gray-dark-1,
  'gray-dark-2':$gray-dark-2,

  'black-lighter-1':$black-lighter-1,
  'black-full-dark':$black-full-dark,

  'brand-orange-lighter-1':$brand-orange-lighter-1,
  'brand-orange-standard':$brand-orange-standard,
  'brand-orange-dark-1':$brand-orange-dark-1,

  'brand-blue-standard':$brand-blue-standard,

  'social-linkedin-blue-standard':$social-linkedin-blue-standard,

  'social-instagram-gradient':$social-instagram-gradient
);

