<div class="mlb-post-linkedin">
  <mlb-post-linkedin-header
    [mlb-name]="post.profileName"
    [mlb-date]="post.date"
    [mlb-description]="post.description"
  ></mlb-post-linkedin-header>
  <div
    class="mlb-post-linkedin__container mlb-post-linkedin__container--{{
      size
    }}"
  >
    <img
      [src]="post.imageUrl"
      alt
      class="mlb-post-linkedin__container--{{ size }}__image"
    />
  </div>
  <mlb-post-linkedin-footer
    [mlb-qnt-comment]="post.qntComment"
  ></mlb-post-linkedin-footer>
</div>
