@import "../../core/core";
@import "mlb-layout-footer";
@import "mlb-layout-header";


.container{
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  overflow-x: auto;
}

.row{
  display: flex;
}
