.mlb-post-linkedin {
  width: 368px;
  background-color: $white-full-lighter;
  border: 1px solid $black-lighter-2;
  border-radius: 4px;

  &__header {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;

    &__profile {
      display: flex;
      align-items: center;
      gap: 8px;

      &__info{

        &__name{
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: $black-full-dark;
        }
        &__date{
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: $gray-standard;
        }
      }
    }

    &__description{
      padding-top:8px;
      color: $gray-dark-2;
      font-weight: 500;
      font-size: 14px;
    }

  }

  &__container {
    width: 100%;

    &--standard {
      height: 368px;

      &__image {
        height: 368px;
        width: 100%;
        object-fit: cover;
      }
    }


    &--small {
      height: 240px;
      &__image {
        height: 240px;
        width: 100%;
        object-fit: cover;
      }
    }

  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    &__comments{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: $gray-dark-2;
      padding: 8px 16px;
      cursor: pointer;
    }
    &__actions{
      padding: 8px 16px;
      display: flex;
      border-top: 1px solid $black-lighter-2;
      align-items: center;
      gap: 8px;
      &__icon{
        cursor: pointer;
        font-size: 20px;
        color: $gray-dark-2;
      }
    }
  }
}
